.flow-container {
  height: 70vh;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.visual-process-flow-container {
  margin-top: 20px;
}

.empty-flow-message {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  color: #888;
  font-size: 20px;
  background-color: #fff;
}

.react-flow__handle {
  background-color: #fff;
  border: 2px solid #1677ff;
}


.activity-node {
  padding: 12px;
  border-radius: 5px;
  min-width: 180px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  background-color: white;
  border: 2px solid transparent;
}

.react-flow__node.selected .activity-node {
  border-color: #1677ff;
}


.empty-flow-message {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  text-align: center;
  background-color: #fafafa;
  border: 2px dashed #d9d9d9;
}
