.title-section {
  margin-bottom: 8px;
}

.activity-card {
  min-height: 195px;
}

.empty-card {
  min-height: 81px;
}

.empty-description {
  color: #faad14;
}

.edit-button {
  margin-right: 8px;
}

.description {
  margin: 0 0 8px;
}

.tag-section {
  margin-bottom: 8px;
}
