  .process-flow-title {
    font-size: 18px;
  }
  
  .full-width {
    width: 100%;
  }
  
  .search-input {
    width: 250px;
  }

.ant-table-thead > tr > th {
    background-color: #dbdbdb !important;
    color: #000000 !important;
  }
  