html,
body {
  background-color: #cfdaf5;
  margin: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

.ant-row {
  margin: 5px 0 !important;
  padding: 0 10px;
}

.ant-form-item {
  margin-bottom: 8px !important;
}

.ant-card-body {
  padding: 16px !important;
}
